[defaults]
ansible_user=administrator
become = yes
become_method = sudo
become_user= administrator
become_ask_pass = false
#become_ask_pass = true
remote_user = hath
#deprecation_warnings=False
# interpreter_python= /bin/python3
[ssh_connection]
# Control the mechanism for transferring files (old)
#   * smart = try sftp and then try scp [default]
#   * True = use scp only
#   * False = use sftp only
#scp_if_ssh = smart

# Control the mechanism for transferring files (new)
# If set, this will override the scp_if_ssh option
#   * sftp  = use sftp to transfer files
#   * scp   = use scp to transfer files
#   * piped = use 'dd' over SSH to transfer files
#   * smart = try sftp, scp, and piped, in that order [default]
transfer_method = scp
